<!DOCTYPE html>
{% extends 'homebase.html' %}
{% load static %}

{% block act_video %}active{% endblock %}

{% block content %}

<div id="chatting" class="toggled animated">
   <!-- Sidebar -->
   <div id="sidebar-wrapper" class="animated">
      <ul class="sidebar-nav">
         <div class="comment-sidebar">
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="row chat-nav">
                        <button type="button" class="btn btn-light border-none chatcompress">
                           <i class="fas fa-angle-double-right"></i>
                        </button>
                        <div class="chat-title">
                           <h6>Live Streaming Chatting</h6>
                        </div>
                     </div>
                  </div>
                  
                  <div class="col-md-12 animated" id="comments">

                     {% for comment in comments %}
                     <div>
                        <div class="comment">
                           <span style="color: rgb{{comment.color}};">
                              {{comment.nickname}}
                           </span>
                           <span style="color: rgb{{comment.color}};">
                              ({{comment.id}})
                           </span>
                           <span aria-hidden="true">:</span>
                           <span>
                              {{comment.text}}
                           </span>
                        </div>
                     </div>
                     {% endfor %}

                  </div>

                  <!-- input comment -->

                  <form class="d-none d-md-inline-block form-inline" id="input-comment">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Send Message">
                        <div class="input-group-append">
                           <button type="button" class="btn btn-primary border-none">
                              Chat
                           </button>
                        </div>
                     </div>
                  </form>

               </div>
            </div>
         </div>
      </ul>
   </div> <!-- /#sidebar-wrapper -->

   <div class="container-fluid animated" id="page-content-wrapper">
      <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-12">
               <button type="button" class="btn btn-dark border-none chatexpand displaynone">
                  <i class="fas fa-angle-double-left"></i>
               </button>
               <div class="single-video-left">
                  <div class="single-video" width="100%" height="auto">
                     <video id='hls-example' class="video-js vjs-default-skin vjs-16-9"  controls preload="auto" 
                              data-setup='{ "fluid": true}'>
                        <!-- <source src="rtmp://210.150.183.58/app/nXiD37GRtBcmY2HvvnB8" type="rtmp/flv"> -->
                        <source type="application/x-mpegURL" src={{ src }} style="z-index: 0;">
                     </video>

                     {% comment %}<img src={% url "srctest" %} width="100%" height="auto" content="image/jpeg" style="-webkit-user-select: none;margin: auto;">
                      <iframe width="100%" height="315"
                        src=""
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> {% endcomment %}
                  </div>
                  <div class="single-video-title box mb-3">
                     <h2><a href="#">Contrary to popular belief, Lorem Ipsum (2019) is not.</a></h2>
                     <p class="mb-0"><i class="fas fa-eye"></i> 2,729,347 views</p>
                  </div>
                  <div class="single-video-author box mb-3">
                     <img class="img-fluid" src={% get_static_prefix %}{{vuser.profile}} alt="">
                     <p>
                        <a href="#"><strong>{{vuser.username}}</strong></a> 
                        <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified">
                           <i class="fas fa-check-circle text-success"></i>
                        </span>
                     </p>
                     <small>Last login {{vuser.last_login}}</small>
                  </div>
                  <div class="single-video-info-content box mb-3">
                     <h6>Cast:</h6>
                     <p>Nathan Drake , Victor Sullivan , Sam Drake , Elena Fisher</p>
                     <h6>Category :</h6>
                     <p>Gaming , PS4 Exclusive , Gameplay , 1080p</p>
                     <h6>About :</h6>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their
                        infancy. Various versions have evolved overVarious versions have evolved over the years,
                        sometimes
                     </p>
                     <h6>Tags :</h6>
                     <p class="tags mb-0">
                        <span><a href="#">Uncharted 4</a></span>
                        <span><a href="#">Playstation 4</a></span>
                        <span><a href="#">Gameplay</a></span>
                        <span><a href="#">1080P</a></span>
                        <span><a href="#">ps4Share</a></span>
                        <span><a href="#">+ 6</a></span>
                     </p>
                  </div>
               </div>
            </div>



         </div>
      </div>
   </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{%block script%}
<script>
   $(function () {
      $(".chatexpand, .chatcompress").click(function (e) {
         e.preventDefault();
         $("#chatting").toggleClass("toggled");
         if($(".chatexpand").hasClass("displaynone")) {
             $(".chatexpand").removeClass("displaynone");
             $(".chatcompress").addClass("displaynone");
         }
         else {
            $(".chatexpand").addClass("displaynone");
            $(".chatcompress").removeClass("displaynone");
         }
      });

      $(window).resize(function (e) {
         if ($(window).width() <= 768) {
            $("#chatting").removeClass("toggled");
         } else {
            $("#chatting").addClass("toggled");
         }
         setSidebarWidth()
      });
   });

   var objDiv = document.getElementById("comments"); 
   objDiv.scrollTop = objDiv.scrollHeight;

   function setSidebarWidth() {
      var objSet = document.getElementById("comments");
      var vh100 = document.getElementById("sidebar-wrapper").offsetHeight;
      var navHeight = document.querySelector("#page-top > nav").offsetHeight;
      objSet.style.height  = vh100 - navHeight - 94 - 15 + "px";
   }

   window.onload = function() {
      setSidebarWidth();
   }

</script>
{%endblock%}