<!DOCTYPE html>
{% extends 'homebase.html' %}

{% load static %}

{% block content %}

<div class="container-fluid pb-0 animated">
   <div class="top-mobile-search">
      <div class="row">
         <div class="col-md-12">
            <form class="mobile-search">
               <div class="input-group">
                  <input type="text" placeholder="Search for..." class="form-control">
                  <div class="input-group-append">
                     <button type="button" class="btn btn-dark"><i class="fas fa-search"></i></button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>

   {% comment %} Video Block section {% endcomment %}
   <div class="video-block section-padding">
      <div class="row">

         {% comment %} Dropdown menu {% endcomment %}
         <div class="col-md-12">
            <div class="main-title">
               <h6>Videos</h6>
            </div>
         </div>

         {% for u in users %}
         {% comment %} Single Video block {% endcomment %}
         <div class="col-xl-3 col-sm-6 mb-3">
            <div class="video-card" {% if u.stream.is_live %}{%else%}id='unstreaming'{% endif %}>
               <div class="video-card-image">
                  <a class="play-icon" href="{% url 'stream' u.username %}"><i class="fas fa-play-circle"></i></a>
                  <a href="{% url 'stream' u.username %}">
                     <img class="img-fluid" src="{% get_static_prefix %}{{u.pannel}}" alt="pannel">
                  </a>
                  <div class="time">{% if u.stream.is_live %}LIVE ON{%else%}OFF{% endif %}</div>
               </div>
               <div class="video-card-body">
                  <div class="video-title">
                     <a href="{% url 'stream' u.username %}">{{u.username}}</a>
                  </div>
                  <div class="video-view">
                     last login &nbsp;<i class="fas fa-calendar-alt"></i> {{u.last_login}}
                  </div>
               </div>
            </div>
         </div>
         {%endfor%}

      </div>
   </div>
   {% comment %} Video Block section end {% endcomment %}

</div>
<!-- /.container-fluid -->

{% endblock %}


{% block totop %}
   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>
{% endblock %}