<!DOCTYPE html>
{% extends 'homebase.html' %}
{% load static %}

{% block content %}
<form id='editface' method="POST" action="{% url 'editface' %}"
      enctype="multipart/form-data" novalidate>
{% csrf_token %}
<input id='face' type="hidden" name="name" value={{user.username}}  
   />

<div class="container-fluid">
   <div class="video-block section-padding">
      <div class="row">
         <div class="col-md-12">
            <div class="main-title">
               <h6>Register Faces</h6>
               <label>Stream URL :</label>
               <button class="btn btn-secondary btn-sm border-none" onclick="copy_to_clipboard()">복사</button>
               <input id='key' class='face-form url' value = {{key}} readonly /> 
            </div>
         </div>
         
         <input type="hidden" name="username" value={{user.username}} />
         <div class="col-xl-3 col-sm-6 mb-3">
            <div class="channels-card">
               <div class="channels-card-image">
                  <a href="#">
                     {{videoform}}
                  </a>
                  <div class="channels-card-image-btn">
                     <button type="button" class="btn btn-warning btn-sm border-none"
                           onclick="registerface()">
                        Register New Face 
                     </button>
                  </div>
               </div>
               <div class="channels-card-body">
                  <div class="channels-title">
                     name: <input id='face-r' class='face-form' type="text" 
                                 name="facename" placeholder='name'/>
                  </div>
               </div>
            </div>
         </div>

         {% for face in faces %}
         <div class="col-xl-3 col-sm-6 mb-3">
            <div class="channels-card">
               <div class="channels-card-image">
                  <img class="img-fluid" src={% get_media_prefix %}{{face.profile}} alt="">
                  <div class="channels-card-image-btn">
                     {% if face.is_registerd %}
                     <button type="button" class="btn btn-success btn-sm border-none face-toggle">
                        Registerd 
                     </button>
                     <input id='face' type="hidden" name="faces" value='T'/>
                     {% else %}
                     <button type="button" class="btn btn-danger btn-sm border-none face-toggle">
                        Not Registerd 
                     </button> 
                     <input id='face' type="hidden" name="faces" value='F'/>
                     {% endif %}
                  </div>
               </div>
               <div class="channels-card-body">
                  <div class="channels-title">
                     {{face.name}}
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- /.container-fluid -->

<a class="confirm rounded" onclick="editface()">
   <i class="fas fa-check"></i>
</a>
</form>
{% endblock %}

{% block totop %}

{% endblock %}


{%block script%}
<script>
   $('.face-toggle').click(function(event){
      var button = $(event.target);
      var target = $(event.target).next("#face");
      if (target.val() =='T'){
         target.val('F');
         button.addClass('btn-danger');
         button.removeClass('btn-success');
      }
      else {
         target.val('T');
         button.addClass('btn-success');
         button.removeClass('btn-danger');
      }
      button.text('Changed');
   });
   function editface() {
      document.getElementById('editface').submit();
   }
   
   function registerface() {
      var form = $("#editface");
      form.attr('action', "{% url 'registerface' %}");
      form.submit();
   }
    function copy_to_clipboard() {
      var copyText = document.getElementById('key');
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("Copy");
      alert("클립보드에 복사하였습니다. ");
    }
</script>
{%endblock%}