<!DOCTYPE html>
{% extends 'homebase.html' %}
{% load static %}

{% block content %}

<div id="chatting" class="animated">
   <!-- Sidebar -->
   <div id="sidebar-wrapper" class="animated">
      <ul class="sidebar-nav">
         <div class="comment-sidebar">
            <div class="col-md-12">
               <div class="row">
               
                  <div class="col-md-12">
                     <div class="row chat-nav">
                        <div class="chat-title">
                           <button type="button" class="btn btn-light border-none chatcompress displaynone">
                              <i class="fas fa-angle-double-right"></i>
                           </button>
                           <h6>Live Streaming Chatting</h6>
                        </div>
                     </div>
                  </div>

                  <!-- view comment -->
                  <div class="col-md-12 animated" id="comments">
                     {% for comment in comments %}
                     <div>
                        <div class="comment">
                           <span style="color: rgb{{comment.color}}">
                              {{comment.nickname}}
                           </span>
                           <span style="color: rgb{{comment.color}}">
                              ({{comment.id}})
                           </span>
                           <span aria-hidden="true">:</span>
                           <span>
                              {{comment.text}}
                           </span>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <!-- view comment done -->

                  <!-- input comment -->
                  <form class="d-none d-md-inline-block form-inline" id="input-comment">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Send Message">
                        <div class="input-group-append">
                           <button type="button" class="btn btn-primary border-none">
                              Chat
                           </button>
                        </div>
                     </div>
                  </form>
                  <!-- input comment done -->

               </div>
            </div>
         </div>
      </ul>
   </div> <!-- /#sidebar-wrapper -->

   <div class="video-block section-padding container-fluid" >
      <div class="row">
         <div class="col-md-12">
            <button type="button" class="btn btn-dark border-none chatexpand">
               <i class="fas fa-angle-double-left"></i>
            </button>
            <div class="single-video-left">
               <div class="single-video">
                  <video id='hls-example' class="video-js vjs-default-skin"  controls preload="auto" 
                           data-setup='{ }'>
                     <source type="application/x-mpegURL" src={{ src }} style="z-index: 0;">
                  </video>
               </div>
               <div class="single-video-title box mb-3">
                  <h2><a href="#">{{vuser.username}}'s Streaming</a></h2>
                  <p class="mb-0"><i class="fas fa-eye"></i> 2,729,347 views</p>
               </div>
               <div class="single-video-author box mb-3">
                  <img class="img-fluid" src={% get_static_prefix %}{{vuser.profile}} alt="">
                  <p>
                     <a href="#"><strong>{{vuser.username}}</strong></a> 
                     <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified">
                        <i class="fas fa-check-circle text-success"></i>
                     </span>
                  </p>
                  <small>Last login {{vuser.last_login}}</small>
               </div>
               <div class="single-video-info-content box mb-3">
                  <h6>Cast:</h6>
                  <p>Nathan Drake , Victor Sullivan , Sam Drake , Elena Fisher</p>
                  <h6>Category :</h6>
                  <p>Gaming , PS4 Exclusive , Gameplay , 1080p</p>
                  <h6>About :</h6>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, as opposed to using 'Content here, content here', making it look like
                     readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                     their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                     their
                     infancy. Various versions have evolved overVarious versions have evolved over the years,
                     sometimes
                  </p>
                  <h6>Tags :</h6>
                  <p class="tags mb-0">
                     <span><a href="#">Uncharted 4</a></span>
                     <span><a href="#">Playstation 4</a></span>
                     <span><a href="#">Gameplay</a></span>
                     <span><a href="#">1080P</a></span>
                     <span><a href="#">ps4Share</a></span>
                     <span><a href="#">+ 6</a></span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /.container-fluid -->

{% endblock %}

{% block totop %}
<a class="scroll-to-top rounded" href="#page-top">
   <i class="fas fa-angle-up"></i>
</a>
{% endblock %}

{%block script%}
<script>
   $(function () {
      $(".chatexpand, .chatcompress").click(function (e) {
         e.preventDefault();
         $("#chatting").toggleClass("toggled");
         if($(".chatexpand").hasClass("displaynone")) {
             $(".chatexpand").removeClass("displaynone");
             $(".chatcompress").addClass("displaynone");
         }
         else {
            $(".chatexpand").addClass("displaynone");
            $(".chatcompress").removeClass("displaynone");
         }
      });

      $(window).resize(function (e) {
         if ($(window).width() <= 768) {
            $("#chatting").removeClass("toggled");
         }
      });
   });

   var objDiv = document.getElementById("comments"); 
   objDiv.scrollTop = objDiv.scrollHeight;

   function setSidebarWidth() {
      var objSet = document.getElementById("comments");
      var vh100 = document.getElementById("sidebar-wrapper").offsetHeight;
      var navHeight = document.querySelector("#page-top > nav").offsetHeight;
      objSet.style.height  = vh100 - navHeight - 94 - 15 + "px";
   }

   window.onload = function() {
      setSidebarWidth();
   }

function mypageform() {
   document.getElementById('mypageform').submit();
}

</script>
{%endblock%}